body{
    background-color: #505050;
    position: relative;
}

p{
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.container{
    display: block;
    width: 100%;
    position: relative;
    float: left;
}

#invisible {
    width: 0px;
}

.top {
    width: 75%;
    background-color: #909090;
    position: relative; /* background applies to all top elements */
    border-radius: 15px;
    height: 135px;
    margin: 10px auto 12px;
    box-shadow: 10px 10px 10px;
}

#top-img{
    float: left;
    height: 110px;
    margin: 10px;
}

#loupe{
    position: absolute;
    right: 24px;
    bottom: -20px;
    height: 128px;
}

#reload{
    position: absolute;
    top: 0px;
    right: 0;
    height: 20px;
    margin: 10px;
}

#disconnect{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    margin: 10px;
}

.left {
    background-color: #909090;
    width: 7%;
    height: 50%;
	position: relative;
    margin: 0 0 0 15%;
    border-radius: 10px;
    float: left;
    box-shadow: 10px;
}

.left-img {
    height: 60px;
    margin: 10% 30%;
}

#look {
    border: 5px solid red;
    border-radius: 4px;
}


.middle {
    position: relative;
    background-color: #909090;
    width: 53%;
    float: left;
    border-radius: 10px;
    height: 600px;
    margin: 0 0 0 1%;
    box-shadow: 10px;
}

.link {
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
}

#cluster {
    height: 97%;
    width: 97%;
    margin: 10px;
}

.right {
    background-color: #909090;
    width: 7%;
	position: relative;
    height: 450px;
    margin: 0 15% 0 0;
    border-radius: 10px;
    float: right;
    box-shadow: 10px;
}

#book {
    height: 100px;
    margin: 10% 25% 5%;
}

#towel {
    height: 55px;
    margin: 5% 20% 5%;
}

#wall{
    height: 15%;
    width: 85%;
    margin: auto;
    position: relative;
    background-image: url("resources/brick.jpg");
}

.pop-up {
    background-color: #88FF88;
    position: absolute;
	top: 700px;
	left: 180px;
	width: 30%;
	height: 25%;
	border-radius: 8px;
	box-shadow: 9px 9px 9px;
}

#big-text{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}

#text-shadow{
    text-shadow: 5px 5px 3px #BD0000;
}

#dialog{
    position: absolute;
	top: 65%;
	left: 10px;
	width: 60%;
	height: 10%;
	border-top: 2px solid grey;
}

#button{
    position: absolute;
	top: 65%;
	left: 360px;
	vertical-align: middle;
}

#button-text {
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}